{% extends 'base.html' %} {% block content %}

<form action='' method='POST'>
    {% csrf_token %}

    {% if object %}
    <h1> Edit <span class="teal-text">{{ object.name }}</span></h1>
    {% else %}
    <h1>Add Aircraft</h1>
    {% endif %}

    <table>
        {{ form.as_table }}
        {% comment %} <input type="text" name="aircraft.type" placeholder="Type">
        <input type="text" name="aircraft.n_num" placeholder="N-Number">
        <input type="text" name="aircraft.engines" placeholder="Number of Engines">
        <input type="text" name="aircraft.msn" placeholder="MSN">
        <input type="text" name="aircraft.mfr_date" placeholder="Manufactured Date"> {% endcomment %}
    </table>
    <input type="submit" value="Submit!" class="btn" />

</form>

{% endblock%}