{% extends 'base.html' %} {% block content %}

<form action='' method='POST'>
    {% csrf_token %}

    {% if object %}
    <h3>{{object.n_num}}</h3>
    {% else %}
    <h1>Add New Aircraft</h1>
    {% endif %}

    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Save" class="btn-small waves-effect waves-light blue right" />

</form>

<!-- Datepicker tool on Aircraft Form -->
<script>
    var dateEl = document.getElementById('id_mfr_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
</script>

{% endblock%}