{% extends 'base.html' %} {% block content %}

<h4>{{ aircraft.n_num }}</h4>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="grad card-content">

        <h5>Aircraft Type: <div class="right">{{ aircraft.type }}</div> </h5>

        <h5>Number of Engines: <div class="right">{{ aircraft.engines }}</div> </h5>

        <h5>Manufacturer Serial Number: <div class="right">{{ aircraft.msn }}</div> </h5>

        <h5>Manufacturer Date: <div class="right">{{ aircraft.mfr_date }}</div> </h5>
        
        <div class="card-action">
          <a class= "right blue-text" href="{% url 'aircraft_update' aircraft.id %}">Edit</a>
          <a class= "right red-text" href="{% url 'aircraft_delete' aircraft.id %}">Delete Aircraft</a>
        </div>
      </div>
    </div>   
  </div> 
</div>

<!-- Table to display flights -->
<div class="row">
  <div class="col s12">

    <div class="divider"></div>

    <h4>Flight History</h4>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Departure</th>
          <th>Destination</th>
          <th>Flight Distance</th>
          <th>Fuel Used</th>
          <th>Fuel Remaining</th>
        </tr>
      </thead>
      <tbody>
        {% for flight in aircraft.flight_set.all %}
        <tr>
          <td>{{flight.date}}</td>
          <td>{{flight.dep}}</td>
          <td>{{flight.dest}}</td>
          <td>{{flight.distance}} mi</td>
          <td>{{flight.fuel_used}} gal</td>
          <td>{{flight.fuel_rem}} gal</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Creates form to add a new flight -->
    <div class="divider"></div>
    <h4>Add a Flight Log</h4>
    <form  action="{% url 'add_flight' aircraft.id %}" method="post">
      {% csrf_token %} {{ flight_form.as_p }}
      <input type="submit" class="btn blue right" value="Add Flight" />
    </form>

  </div>
</div>

<hr />
<div class="row">
<!-- Displaying Required Maintenance -->
<div class="col s6">
  <h3>Required Maintenance</h3>
  <script>console.log(items)</script>
  {% if required_items.count %}
    {% for item in required_items %}

      <div class="card">

        <div class="card-content">
          <span class="card-title">
            Work Order: {{item.name}}
          </span>
            <li> Required Interval: Every {{item.interval}} Days</li>
            <li class="red-text">Status: Incomplete</li>
        </div>

        <div class="card-action">
          <form action="{% url 'assoc_item' aircraft.id item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="blue btn">Complete Item</button>
          </form>
        </div>

      </div>

    {% endfor %}
  {% else %}
    <h5> No Required Maintenance </h5>
  {% endif %}
</div>
<!-- ////////////////////////////////////////////////// -->

 <!-- Displaying Completed Maintenance -->
<div class="col s6">
  <h3> Completed Maintenance</h3>

  {% if aircraft.items.count %} 
  {% for item in aircraft.items.all %}

  <div class="card">
    <div class="card-content">
      <span class="card-title">
        Work Order: {{item.name}}
      </span>
        <li>Required Interval: Every {{item.interval}} Days</li>
        <li class="green-text">Status: Complete</li>
      </span>
    </div>
  </div>

  {% endfor %} {% else %}

  <h5> No Completed Maintenance </h5>

  {% endif %}
</div>
<!-- ////////////////////////////////////////////////// -->
</div>



<!-- Datepicker tool on Flight Form -->
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}