{% extends 'base.html' %} {% block content %}

<body class="about"> 
    <div class="row">
        <div class="emptyspace"></div>
    </div>
    <div class="row">
        <div class="emptyspace"></div>
    </div>
    <div class="row">
        <div class="emptyspace"></div>
    </div>
    <blockquote>
        <h4 class="grey-text text-lighten-3 grey darken-1">FlyNow is a next-generation, multi-user, "schedule-to-mobile" 
            fleet management product that delivers greater efficiency and productivity for flight departments of any size.</h4>
    </blockquote>
</body>


{% endblock %}